In [1]:
using HTTP, JSON

In [5]:
data = HTTP.request("GET", "https://data.nasdaq.com/api/v3/datatables/QUOTEMEDIA/PRICES?date.lte=2023-06-30&date.gte=2023-06-01&ticker=TSLA&api_key=XXXXX")
response = String(data.body)
j = JSON.parse(response)

Dict{String, Any} with 2 entries:
  "datatable" => Dict{String, Any}("data"=>Any[Any["TSLA", "2023-06-30", 260.6,…
  "meta"      => Dict{String, Any}("next_cursor_id"=>nothing)

In [6]:
# Entries
records = j["datatable"]["data"]

21-element Vector{Any}:
 Any["TSLA", "2023-06-30", 260.6, 264.45, 259.89, 261.77, 1.11697969e8, 0.0, 1.0, 260.6, 264.45, 259.89, 261.77, 1.11697969e8]
 Any["TSLA", "2023-06-29", 258.03, 260.74, 253.61, 257.5, 1.30632391e8, 0.0, 1.0, 258.03, 260.74, 253.61, 257.5, 1.30632391e8]
 Any["TSLA", "2023-06-28", 249.7, 259.88, 248.89, 256.24, 1.58813893e8, 0.0, 1.0, 249.7, 259.88, 248.89, 256.24, 1.58813893e8]
 Any["TSLA", "2023-06-27", 243.24, 250.3899, 240.85, 250.21, 1.63197917e8, 0.0, 1.0, 243.24, 250.3899, 240.85, 250.21, 1.63197917e8]
 Any["TSLA", "2023-06-26", 250.065, 258.37, 240.7, 241.05, 1.77757766e8, 0.0, 1.0, 250.065, 258.37, 240.7, 241.05, 1.77757766e8]
 Any["TSLA", "2023-06-23", 259.29, 262.45, 252.8, 256.6, 1.76196424e8, 0.0, 1.0, 259.29, 262.45, 252.8, 256.6, 1.76196424e8]
 Any["TSLA", "2023-06-22", 250.77, 265.0, 248.25, 264.61, 1.64559087e8, 0.0, 1.0, 250.77, 265.0, 248.25, 264.61, 1.64559087e8]
 Any["TSLA", "2023-06-21", 275.13, 276.99, 257.78, 259.46, 2.09960863e8, 0.0, 1.0, 275.13, 276.99, 257.78, 259.46, 2.09960863e8]
 Any["TSLA", "2023-06-20", 261.5, 274.75, 261.12, 274.45, 1.635728e8, 0.0, 1.0, 261.5, 274.75, 261.12, 274.45, 1.635728e8]
 Any["TSLA", "2023-06-16", 258.92, 263.6, 257.2091, 260.54, 1.6743749e8, 0.0, 1.0, 258.92, 263.6, 257.2091, 260.54, 1.6743749e8]
 Any["TSLA", "2023-06-15", 248.4, 258.95, 247.29, 255.9, 1.58738576e8, 0.0, 1.0, 248.4, 258.95, 247.29, 255.9, 1.58738576e8]
 Any["TSLA", "2023-06-14", 260.17, 261.57, 250.5, 256.79, 1.69125823e8, 0.0, 1.0, 260.17, 261.57, 250.5, 256.79, 1.69125823e8]
 Any["TSLA", "2023-06-13", 253.51, 259.68, 251.34, 258.71, 1.59739146e8, 0.0, 1.0, 253.51, 259.68, 251.34, 258.71, 1.59739146e8]
 Any["TSLA", "2023-06-12", 247.94, 250.97, 244.59, 249.83, 1.49734619e8, 0.0, 1.0, 247.94, 250.97, 244.59, 249.83, 1.49734619e8]
 Any["TSLA", "2023-06-09", 249.07, 252.42, 242.02, 244.4, 1.99122546e8, 0.0, 1.0, 249.07, 252.42, 242.02, 244.4, 1.99122546e8]
 Any["TSLA", "2023-06-08", 224.22, 235.23, 223.01, 234.86, 1.52227206e8, 0.0, 1.0, 224.22, 235.23, 223.01, 234.86, 1.52227206e8]
 Any["TSLA", "2023-06-07", 228.0, 230.8296, 223.2, 224.57, 1.84604941e8, 0.0, 1.0, 228.0, 230.8296, 223.2, 224.57, 1.84604941e8]
 Any["TSLA", "2023-06-06", 216.14, 221.91, 212.53, 221.31, 1.43995266e8, 0.0, 1.0, 216.14, 221.91, 212.53, 221.31, 1.43995266e8]
 Any["TSLA", "2023-06-05", 217.8, 221.29, 214.52, 217.61, 1.50327369e8, 0.0, 1.0, 217.8, 221.29, 214.52, 217.61, 1.50327369e8]
 Any["TSLA", "2023-06-02", 210.15, 217.25, 209.752, 213.97, 1.63726131e8, 0.0, 1.0, 210.15, 217.25, 209.752, 213.97, 1.63726131e8]
 Any["TSLA", "2023-06-01", 202.59, 209.8, 199.37, 207.52, 1.47323506e8, 0.0, 1.0, 202.59, 209.8, 199.37, 207.52, 1.47323506e8]

In [18]:
import Pkg; Pkg.add("Dates")

   Resolving package versions...
    Updating `~/.julia/environments/v1.9/Project.toml`
  [ade2ca70] + Dates
  No Changes to `~/.julia/environments/v1.9/Manifest.toml`

In [21]:
# Plain arrays
using Dates
dates = Date[]
closed_prices = Float64[]
for record in records
    push!(dates, Date(record[2], dateformat"y-m-d"))
    push!(closed_prices, record[4])
end

In [22]:
using DataFrames
closed_price_df = DataFrame(date=dates, price=closed_prices)

21×2 DataFrame
 Row │ date        price
     │ Date        Float64
─────┼─────────────────────
   1 │ 2023-06-30   264.45
   2 │ 2023-06-29   260.74
   3 │ 2023-06-28   259.88
   4 │ 2023-06-27   250.39
   5 │ 2023-06-26   258.37
   6 │ 2023-06-23   262.45
   7 │ 2023-06-22   265.0
   8 │ 2023-06-21   276.99
   9 │ 2023-06-20   274.75
  10 │ 2023-06-16   263.6
  11 │ 2023-06-15   258.95
  12 │ 2023-06-14   261.57
  13 │ 2023-06-13   259.68
  14 │ 2023-06-12   250.97
  15 │ 2023-06-09   252.42
  16 │ 2023-06-08   235.23
  17 │ 2023-06-07   230.83
  18 │ 2023-06-06   221.91
  19 │ 2023-06-05   221.29
  20 │ 2023-06-02   217.25
  21 │ 2023-06-01   209.8